
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
  color: #0f172a;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: .5px solid #d4d5d8; 
}


.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #0f172a;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #38bdf8;
}

.menu-toggle {
  display: none;
  background: none;
  color: #0f172a;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: #1e293b;
  padding: 0.5rem;
  list-style: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .nav-links.active {
    display: flex;
  }
  .menu-toggle {
    display: block;
  }
}
